[Desktop Entry]
Version=1.0
Type=Application
Name=Rudebot
Comment=Start the Rudebot Discord bot
Exec=/home/brandon/src/repos/rudebot/start.sh
Path=/home/brandon/src/repos/rudebot
Terminal=true
Categories=Network;InstantMessaging;
Icon=discord
StartupNotify=false
Keywords=discord;bot;music;chat 